apiVersion: v1
kind: Service
metadata:
  name: dnsmasq
  namespace: dns
  labels:
    app: dnsmasq
spec:
  selector:
    app: dnsmasq
  ports:
    - port: 53
      targetPort: 53
      protocol: UDP
      name: dns-udp
    - port: 53
      targetPort: 53
      protocol: TCP
      name: dns-tcp
  type: ClusterIP
