apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: minio-data
  namespace: s3
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: standard
